@media only screen and (min-width: 32rem) {
  #hamburger {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}