
@media only screen and (min-width: 32rem) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 2rem;                             /* more space between images */
  }

  figure img {
    max-height: 450px; /* increase image height for desktop */
  }
}

@media only screen and (min-width: 64rem) {
  .gallery {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
    gap: 2.5rem;
  }

  figure img {
    max-height: 500px; /* extra large images for very large screens */
  }
}